@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

.fondoPrincipal {
  background-image: url(../media/sucuFondoPri1.jpg);
  background-repeat: none;
  height: 100vh; }
  .fondoPrincipal .fondoPrincipal_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh; }
    .fondoPrincipal .fondoPrincipal_menu h1 {
      font-family: "Merienda", sans-serif;
      padding-bottom: 1%; }

header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #a9ba5a;
  z-index: 1; }

.logo-header {
  display: flex;
  width: 60px; }

.navegador {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-left: 8%;
  width: 74%;
  cursor: pointer;
  list-style-position: outside; }

.navbar-nav .nav-link {
  transition: all 0 ease-in-out;
  color: #333333;
  font-size: 20px; }
  .navbar-nav .nav-link:hover {
    color: red; }

.menuPrincipal {
  padding-top: 2rem;
  width: 77%;
  margin: auto;
  background-color: #c3d27c; }
  @media all and (max-width: 768px) {
    .menuPrincipal {
      width: 100%;
      text-align: center;
      padding-top: 10%; } }

.fondo {
  width: 100%;
  background-image: url(../media/fondoMacetas.png);
  background-color: #f7efe5; }

.menuPrincipal2 {
  width: 30%;
  margin: auto; }

.subBloques {
  padding-top: 1rem; }

.subBloques__subtitulos {
  padding-top: 6%;
  text-align: center;
  width: 20%;
  margin: auto;
  font-family: "Merienda", sans-serif;
  color: #414b19;
  border-bottom: 0.2rem double green; }

.subBloques__parrafos h2 {
  padding-top: 1%;
  margin: auto;
  text-align: center;
  color: #171d2d; }

.subBloques__parrafos h3 {
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  padding-left: 5%; }

#tipos #tituloParrafo h2 {
  padding: 1%;
  font-weight: 700; }

#tipos .subBloques__grilla {
  width: 95%;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr)); }

#tipos .grilla__bloques {
  border: 1px solid #010101;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #f8f8f8; }

#tipos .tipos__nombres {
  width: 50%;
  margin: auto;
  text-align: center; }

#tipos .btn-check:focus + .btn, #tipos .btn:focus {
  box-shadow: none; }

#tipos .modal-content {
  height: 50rem;
  width: 45rem; }

#tipos img {
  width: 22.5rem;
  margin: auto;
  display: flex; }

#productos h2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.logoW {
  position: fixed;
  bottom: 2%;
  left: 81.5%;
  z-index: 10; }

.logoFinal {
  width: 28%;
  margin: auto; }
  .logoFinal img {
    width: 100%; }

.logo-back img {
  height: 9%;
  transition: all 0.5s ease-in-out; }
  .logo-back img:hover {
    height: 11%; }

.redes img {
  width: 150px; }

a {
  text-decoration: none; }
