*{
	margin: 0;
	padding: 0;
	font-family:$fuenteR;		
}

.fondoPrincipal{
	background-image: url(../media/sucuFondoPri1.jpg);
	background-repeat: none;
	height:100vh;
	.fondoPrincipal_menu{
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  align-content: center;
		  height: 80vh;


		h1{
			
			font-family:$fuenteM;
			padding-bottom: 1%;		
		
		}
	}
}



header{
	display: flex;
	position: fixed;
	width: 100%;
	background-color:#a9ba5a;		
	z-index: 1;
}
.logo-header{
display: flex;
width:60px;

}

.navegador{
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-left: 8%;
	width: ($ancho*74)/100;
 	cursor: pointer;
	list-style-position:outside;

}	
	.navbar-nav{
		.nav-link{
			transition: all 0 ease-in-out;
			color:#333333;
			font-size: $fuente-m;
		&:hover{
			color:red;
			}
		}
	}
.menuPrincipal{
	padding-top: 2rem;
	width: ($ancho*77)/100;
	margin: auto;
	background-color:$cPrimario;

	@media all and (max-width: 768px){
		width:$ancho;
		text-align: center;
		padding-top: 10%;
	}
}
.fondo{
	width: $ancho;
	background-image: url(../media/fondoMacetas.png);
	
	background-color: $cFondo;
}
.menuPrincipal2{
	width: ($ancho*3)/10;
	margin: auto;
}
.subBloques{
	padding-top: 1rem;
}
.subBloques__subtitulos{
	padding-top: 6%;
	text-align: center;
	width: ($ancho*2)/10;
	margin: auto;
	font-family: $fuenteM;
	color:#414b19;
	border-bottom: 0.2rem double green;
}
.subBloques__parrafos{

	h2{
		padding-top: 1%;
		margin:auto;
		text-align: center;
		color:#171d2d;


	}
	h3{
		padding-bottom: 0.5%;
		padding-top: 0.5%;
		padding-left: 5%;

	}
	
}
#tipos{
	.subBloques__parrafos{
	display: grid;
	grid-template-areas: 
	"ti ti ti"
	"pl1 pl2 pl3"
	"pl4 pl5 pl6"
	;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr 3.2fr 3.2fr;

		@media all and (max-width: 768px){
			display: grid;
			grid-template-areas: 
			"ti ti"
			"pl1 pl2"
			"pl3 pl4"
			"pl5 pl6"
			;
			grid-template-columns:1fr 1fr;
			grid-template-rows:1fr 3.2fr 3.2fr;
		}

		@media all and (max-width: 576px){
			display: grid;
			grid-template-areas: 
			"ti"
			"pl1"
			"p2"
			"p3"
			"p4"
			"p5"
			"p6"
			;
			grid-template-columns:1fr;
			grid-template-rows:3fr 5.2fr 5.2fr;
		} 


		img{
		width: ($ancho*35)/100;
		}
		.dedoNiño{
		width: 25%;

			@media all and (max-width: 768px){
				width: ($ancho*30)/100;

			}
			@media all and (max-width: 576px){
				width: ($ancho*35)/100;

			}
		}	

	}

}
#tituloParrafo{
	grid-area:ti;
	height: 10px;

	@media only screen and (max-width: 768px){

	}
}

#productos{
	h2{
	padding-top: 1rem;
	padding-bottom: 1rem;
	} 

}
		
.logoW{
	position: fixed;
	bottom:2%;
	left:81.5%;
	z-index: 10;
}
.logoFinal{
	width: ($ancho*28)/100;
	margin:auto;
	img{
		width:$ancho;
	}
}
.logo-back{
	img{
		height: 9%; 
		transition: all 0.5s ease-in-out;
		&:hover{
			height: 11%;
		}
	}
}
.redes{
	img{
		width:150px;
	}
}
a{
	text-decoration:none;
}
