*{
	margin: 0;
	padding: 0;
	font-family:$fuenteR;		
}

.fondoPrincipal{
	background-image: url(../media/sucuFondoPri1.jpg);
	background-repeat: none;
	height:100vh;
	.fondoPrincipal__menu{
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  align-content: center;
		  height: 80vh;

		.fondo__boton{
			background-color: #4CAF50; /* Green */
		    border: none;
		    color: white;
		    padding: 16px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    margin: 4px 2px;
		    -webkit-transition-duration: 0.4s; /* Safari */
		    transition-duration: 0.4s;
		    cursor: pointer;


		  }
		h1{
			
			font-family:$fuenteM;
			padding-bottom: 1%;		
		
		}
		@media all and (max-width: 768px){
		
		padding-bottom: 30%;
		
		}
	}
	@media all and (max-width: 768px){
		background-image: url(../media/fondoInicio2.jpg);
		background-repeat: none;
		
		
	}
	@media all and (max-width: 550px){

		background-image: url(../media/fondoInicio2.jpg);
		background-repeat: none;
	}
	.fondoPrincipal__botones{
		@media all and (max-width: 768px){
		display:flex;
		flex-direction:column;
		align-items: center;
		
		}



	}


}
/*clase predefinida de botones*/
.button{
	background-color: $cHead; 
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: $fuente-m;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.button1 {
    background-color: white;
    border-radius: 24px; 
    color: black; 
	transition-duration: 0.3s;
    border: 2px solid $cHead;
    width:14rem;

}
.button1:hover {
    background-color: $cHead;
    color: white;
	transform:scale(1.1);
}
.button2{
	background-color: white;
    border-radius: 12px; 
    color: black;
    font-size: $fuente-s; 
	transition-duration: 0.3s;
    

}
.button2:hover {
    background-color: $cHead;
    color: white;
	transform:scale(1.1);
}









header{
	display: flex;
	position: fixed;
	width: 100%;
	background-color:#a9ba5a;		
	z-index: 1;
}
.logo-header{
display: flex;
width:60px;

}

.navegador{
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-left: 8%;
	width: ($ancho*74)/100;
 	cursor: pointer;
	list-style-position:outside;

}	
	.navbar-nav{
		.nav-link{
			transition: all 0 ease-in-out;
			color:#333333;
			font-size: $fuente-m;
		&:hover{
			color:red;
			}
		}
	}
.menuPrincipal{
	padding-top: 2rem;
	width: ($ancho*77)/100;
	margin: auto;
	background-color:$cPrimario;

	@media all and (max-width: 768px){
		width:$ancho;
		text-align: center;
		padding-top: 10%;
	}
}
.fondo{
	width: $ancho;
	background-image: url(../media/fondoMacetas.png);
	
	background-color: $cFondo;
}
.menuPrincipal2{
	width: ($ancho*3)/10;
	margin: auto;
}
.subBloques{
	padding-top: 1rem;
}
.subBloques__subtitulos{
	padding-top: 6%;
	text-align: center;
	width: ($ancho*2)/10;
	margin: auto;
	font-family: $fuenteM;
	color:#414b19;
	border-bottom: 0.2rem double green;
}
.subBloques__parrafos{

	h2{
		padding-top: 1%;
		margin:auto;
		text-align: center;
		color:#171d2d;


	}
	h3{
		padding-bottom: 0.5%;
		padding-top: 0.5%;
		padding-left: 5%;

	}
	.subBloques__grilla{
	width:95%;
	margin:auto;
	display: grid;
	gap: 1rem;
	grid-auto-rows: 23rem;
	grid-template-columns: repeat(auto-fill, minmax(22rem,1fr));

	}
	.grilla__bloques{
		border:1px solid #010101;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
		background-color: #f8f8f8;
	}
	

	.tipos__nombres{
		width:50%;
		margin:auto;
		text-align:center;
		@media all and (max-width: 768px){
			width:80%;

		}



	}
	.btn-check:focus + .btn, .btn:focus{
		box-shadow: none;

	}
	.modal-content{
		height:100%;
		width:45rem;

		@media all and (max-width: 768px){
		width:25rem;
	}


	}
	img{
		width: 22.5rem;
		
		margin: auto;
		display: flex;
	}

	
}

#tituloParrafo{
	h2{
		padding:1%;
		font-weight: $fuenteR-bold;
		}
	}


	



#productos{
	h2{
	padding-top: 1rem;
	padding-bottom: 1rem;
	}
}
#producto{
	.subBloques__grilla{
	width:95%;
	margin:auto;
	display: grid;
	gap: 1rem;
	grid-auto-rows: 35rem;
	grid-template-columns: repeat(auto-fill, minmax(23rem,1fr));

	}
	.grilla__bloques{
		border:1px solid #010101;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
		background-color: #f8f8f8;
	}
	

	.tipos__nombres{
		width:50%;
		margin:auto;
		text-align:center;
		@media all and (max-width: 768px){
			width:80%;

		}



	}
	.btn-check:focus + .btn, .btn:focus{
		box-shadow: none;

	}
	.modal-content{
		height:100%;
		width:45rem;

		@media all and (max-width: 768px){
		width:25rem;
	}


	}
	img{
		width: 22.5rem;
		
		margin: auto;
		display: flex;
	}

}
		
.logoW{
	position: fixed;
	bottom:2%;
	left:81.5%;
	z-index: 10;
	@media all and (max-width: 768px){
		width:3rem;
		left:85%;
	}


}
.logoFinal{
	width: ($ancho*28)/100;
	margin:auto;
	img{
		width:$ancho;
	}
}
.logo-back{
	img{
		height: 9%; 
		transition: all 0.5s ease-in-out;
		&:hover{
			height: 11%;
		}
	}
}
#contactanos{
	.bloqueContacto{
		display:flex;
		justify-content:center;
		align-items:center;
		@media all and (max-width: 768px){
		flex-direction:column;
		align-items:flex-start;
		}


	}
	.mapa{
		width:50%;
		
	}
		
	.redes{
		width:50%;
		
		img{
			width:150px;
		}
	}
}
a{
	text-decoration:none;
}
