/*quitamos los margenes de nuestra pagina, y asignamos una fuente por defecto*/
*{
	margin: 0;
	padding: 0;
	font-family:$fuenteR;		
}
/*seccion donde definimos la estructura de la pagina de inicio */
.fondoPrincipal{
	background-image: url(../media/sucuFondoPri1.jpg);
	background-repeat: none;
	height:100vh;
	.fondoPrincipal__menu{
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  align-content: center;
		  height: 80vh;

		.fondo__boton{
			background-color: #4CAF50; /* Green */
		    border: none;
		    color: white;
		    padding: 16px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    margin: 4px 2px;
		    -webkit-transition-duration: 0.4s; /* Safari */
		    transition-duration: 0.4s;
		    cursor: pointer;


		  }
		h1{
			font-family:$fuenteM;
			padding-bottom: 1%;		
		}
		h2{
			font-family:$fuenteM;
			color:$cPrimario;

		}
		@media all and (max-width: 768px){
		
		padding-bottom: 30%;
		
		}
	}
	/*cambiaremos la imagen de fondo dependiendo el ancho de la pantalla*/
	@media all and (max-width: 768px){
		background-image: url(../media/fondoInicio2.jpg);
		background-repeat: none;
		
		
	}
	@media all and (max-width: 550px){

		background-image: url(../media/fondoInicio2.jpg);
		background-repeat: none;
	}
	.fondoPrincipal__botones{
		@media all and (max-width: 768px){
		display:flex;
		flex-direction:column;
		align-items: center;
		
		}
	}
}
/*clase predefinida de botones*/
.button{
	background-color: $cHead; 
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: $fuente-m;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.button1 {
    background-color: white;
    border-radius: 24px; 
    color: black; 
	transition-duration: 0.3s;
    border: 2px solid $cHead;
    width:14rem;

}
.button1:hover {
    background-color: $cHead;
    color: white;
	transform:scale(1.1);
}
.button2{
	background-color: $cFondo;
    border-radius: 6px; 
    color: black;
    font-size: $fuente-s; 
	transition-duration: 0.3s;
}
.button2:hover {
    background-color: $cHead;
    color: white;
	transform:scale(1.07);

}

.button3{
	background-color: $cHead;
    border-radius: 12px; 
    color: black;
    font-size: $fuente-m; 
	transition-duration: 0.3s;
}
.button3:hover {
    color: white;
	transform:scale(1.08);
}
.buttonClose:hover{
	background-color:#DB3232;

}

.dropdown-item{
	transition-duration: 0.3s;
}
.dropdown-item:hover{
	
	border-bottom:7px groove $cHead;
}


/*Le damos estilo a nuestro header*/
header{
	display: flex;
	position: fixed;
	width: 100%;
	background-color:#a9ba5a;		
	z-index: 10;
}
.logo-header{
display: flex;
width:60px;

}

.navegador{
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-left: 8%;
	width: ($ancho*74)/100;
 	cursor: pointer;
	list-style-position:outside;

}	
	.navbar-nav{
		.nav-link{
			transition: all 0 ease-in-out;
			color:#333333;
			font-size: $fuente-m;
		&:hover{
			color:red;
			}
		}
	}
/*La seccion que contrendra toda la informacion mas importante de la pagina*/
.menuPrincipal{
	padding-top: 2rem;
	padding-bottom: 6rem;
	width: ($ancho*77)/100;
	margin: auto;
	background-color:$cPrimario;

	@media all and (max-width: 768px){
		width:$ancho;
		text-align: center;
		padding-top: 10%;
	}
}
/*Nuestro fondo de pagina. Le asignamos una imagen y cuando esta ya no se vea porque el menuPrincipal la tape, la quitamos*/
.fondo{
	width: $ancho;
	background-image: url(../media/fondoMacetas.png);
	background-color: $cFondo;
	overflow: hidden;
	@media all and (max-width: 768px){
		background-image:none;
	}
}
.menuPrincipal2{
	width: ($ancho*3)/10;
	margin: auto;
}


/*El titulo de cada seccion, ya sea tipos productos etc*/
#tituloParrafo{
	text-align:center;
	h2{
		padding:1%;
		font-weight: $fuenteR-bold;
		}
	}
/*Le damos ciertas caracteristicas en comun a la seccion de grillas de tipos y productos*/
.grilla__img{
	transition-duration: 0.3s;
	padding-top:2%
}

.subBloques{
	padding-top: 1rem;
}
.subBloques__subtitulos{
	padding-top: 6%;
	text-align: center;
	width: ($ancho*2)/10;
	margin: auto;
	font-family: $fuenteM;
	color:#414b19;
	border-bottom: 0.2rem double green;
}
/*definimos nuestra pagina de tipos, con sus respectivos responsive*/
#tipos{
	.subBloques__subtitulos{
		@media all and (max-width: 768px){
			width:40%;
			text-align:center;
		}
	}
	.grilla__img:hover {
	 	transform:scale(106.5%);
	}



	.subBloques__parrafos{

		.subBloques__grilla{
		width:95%;
		margin:auto;
		display: grid;
		gap: 1rem;
		grid-auto-rows: 24rem;
		grid-template-columns: repeat(auto-fill, minmax(22rem,1fr));

		}
		.grilla__bloques{
			border:1px solid #010101;
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
			background-color: $cFondo;
		}
		
		.tipos__nombres{
			width:50%;
			margin:auto;
			text-align:center;
			@media all and (max-width: 768px){
				width:80%;

			}

		}
		.btn-check:focus + .btn, .btn:focus{
			box-shadow: none;

		}
		.modal-content{
			height:100%;
			width:45rem;

			@media all and (max-width: 768px){
			width:24rem;
			}
		}
		img{
			width: 22.5rem;
			margin: auto;
			display: flex;
		}
	}
}
/*En nuestra pagina de productos, aqui definimos la segunda parte donde se encuentran las macetas y los cactus*/
#productos{
	h2{
	padding-top: 1rem;
	padding-bottom: 1rem;
	}
	.subBloques__subtitulos{
		text-align:center;
		@media all and (max-width: 768px){
			width:40%;
		}
	}
	.tituloParrafo{
		text-align: center;
		h2{
			font-weight: $fuenteR-bold;	
		}
	}
	.carrou{
		width:50%;
		margin: auto;
		@media all and (max-width: 768px){
			width:75%;
		}
	}
	.carousel-control-prev-icon, .carousel-control-next-icon{
		background-color:#798076;
	}
}
/*Aqui damos estilo a la seccion de suculentas de la pagina productos*/
#producto{
	.subBloques__subtitulos{
		text-align:center;
		@media all and (max-width: 768px){
			width:40%;
		}
	}
	#tituloParrafo{
		text-align:center;

	}

	.subBloques__grilla{
	width:95%;
	margin:auto;
	display: grid;
	gap: 1rem;
	grid-auto-rows: 35rem;
	grid-template-columns: repeat(auto-fill, minmax(23rem,1fr));

	}
	.grilla__bloques{
		border:1px solid #010101;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
		background-color: $cFondo;
	}
	

	.tipos__nombres{
		width:50%;
		margin:auto;
		text-align:center;
		@media all and (max-width: 768px){
			width:80%;

		}



	}
	.btn-check:focus + .btn, .btn:focus{
		box-shadow: none;

	}
	.modal-content{
		height:100%;
		width:45rem;

		@media all and (max-width: 768px){
		width:24rem;
	}
	.modal-footer {
		p{
			text-align:center;
			width:80%;
			@media all and (max-width: 768px){
				width:50%;
			}
		}
	}

	}
	img{
		width: 22.5rem;
		margin: auto;
		display: flex;
	}
	.grilla__img:hover {
 		transform:scale(104%);
	}

}
/*Definimos la pagina de tips*/
#tips{
	.subBloques__parrafos{
		width:97%;
		margin:auto;
		h2{
			padding-top: 1%;
			margin:auto;
			text-align: center;
			color:#171d2d;
		}
		.parrafos__subtitulos{
			display: flex;
			width: 88%;
			justify-content: flex-start;
			padding-bottom: 0.5%;
			padding-top: 0.5%;
			padding-left: 5%;
			font-size:$fuente-l;
			font-weight:$fuenteR-bold;
			font-family:$fuenteM;
			@media all and (max-width: 768px){
				width:100%;
				justify-content:center;
				padding-top: 3%;
			}

		}
		.parrafos__subtitulos2{
			justify-content: flex-end;
			width: 90%;
			@media all and (max-width: 768px){
				width:100%;
				justify-content:center;
				padding-top: 3%;
			}
		}
		.parrafos__texto{
			width:75%;
			margin-left: 2rem;
			text-align:start;
			@media all and (max-width: 768px){
				width:90%;
				margin-left: 1rem;
			}

		}
		.parrafos__texto2{
			text-align:start;
			margin-left: 12rem;
			@media all and (max-width: 768px){
				width:90%;
				margin-left: 1rem;
			}

		}
		.containerP{
			border-left: 10px double $cHead;
			border-bottom:6px dashed $cHead;
		}		
		.containerP2{
			border-right: 10px double $cHead;
			border-bottom:6px dashed $cHead;
		}
	}
	
}
/*Le damos estilo a la pagina de contacto, ya sea el formulario como el iframe que representa el mapa de nuestro local*/
#contactanos{
	.subBloques__subtitulos{

		@media all and (max-width: 768px){
			width:50%;
			text-align:center;
		}

	}
	.bloqueContacto{

		@media all and (max-width: 768px){
		flex-direction:column;
		align-items:flex-start;
		}


	}
	.mapa{
		display:flex;
		width:100%;
		justify-content:center;

		iframe{
			width:40rem;
			height:30rem;
 	 		@media all and (max-width: 840px){
 				width:30rem;
				height:22.5rem;
			}
 	 		@media all and (max-width: 500px){
 				width:19rem;
				height:14.25rem;
			}
		}
		
	}
		
	.formulario{
		width: 75%;
	    margin: auto;
	    margin-bottom: 2rem;
	    margin-top: 2rem;

	    .form-control{
			&:focus{
				box-shadow:inset 2px 2px 2px 2px $cHead;
		    	outline: none ;
		    	border-color: $cHead;
			}
		}
		.modal-content{
			width: 40rem;
			margin: auto;
			@media all and (max-width: 768px){
				width:24rem;
			}
		}
		label{
			font-family:$fuenteM;
			font-size:$fuente-m;
			padding-top:1rem;
		}
		.places{
			font-family:$fuenteR;
			font-weight:$fuenteR-bold;

		}
	    textarea{
	    	resize: none;
	    }
	    .consulta__boton{
	    	display:flex;
	    	justify-content:space-evenly;
	    	padding-top:1rem;
	    }

	}
}
/*Definimos el footer de nuestras paginas*/
.foot{

	display:flex;
	background-color:#7c797a;
	height:4rem;
	justify-content: center;
	overflow: hidden;
	p{
		font-family:$fuenteJ;
		font-size:$fuente-m;
		margin-bottom: 0;
		margin-top: 1rem;
	}
	.redes{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width:30%;
	
		img{
		width:4rem;
		}
		.face{
			width:4.4rem;
		}
		@media all and (max-width: 768px){
		width:60%;

		}
		@media all and (max-width: 550px){
		width:80%;

		}



	}
	
}
/*removemos la posible decoracion de nuestros links*/
a{
	text-decoration:none;
}
