$fuenteM:'Merienda', sans-serif;
$fuenteR:'Roboto', sans-serif;
$fuenteJ:'Josefin Sans', sans-serif;;
$fuenteM-regular:400;
$fuenteR-regular:400;
$fuenteR-italic:400;
$fuenteR-bold:700;
$fuente-s:18px;
$fuente-m:20px;
$fuente-l:24px;
$cPrimario:#c3d27c;
$cHead:#a9ba5a;
$cFondo:#f7efe5;
$ancho:100%
